.action-box-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    padding: auto;
    height: auto;
    max-height: 375px;
    /* width: 60%; */
    min-width: 200px;
    max-width: 350px;
    background-color: #333;
    color: #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    gap: 15px; 
  }

  .deposit-content, .withdraw-content, .transfer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
  }

  .action-box-container input[type="number"], 
.action-box-container input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  width: 80%;
}

.action-box-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-box-container button:hover {
  background-color: #0056b3;
}

.action-box-container p {
  color: #0f0; 
}