
  @keyframes rotateGradient {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  
  /* .glowing-swirl {
    content: '';
    position: absolute;
    top: -2%; 
    left: -2%;
    right: -2%;
    bottom: -2%;
    border-radius: 50%;
    background: linear-gradient(270deg, #003973, #e5e5be, #a2d5c6, #0eaba9);
    background-size: 100% 100%; 
    z-index: -3;
    transform: translate(50%, 50%); 
    animation: rotateGradient 10s linear infinite; 
  } */

  .glowing-swirl::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border-radius: inherit;
    background: inherit;
    z-index: -2;
    animation: rotateGradient 50s linear infinite;
    opacity: 0.1;
  }
  
  .glowing-swirl::after {
    content: '';
    position: absolute;
    top: -10%; 
    left: -10%;
    right: -10%;
    bottom: -10%;
    border-radius: 50%;
    background: linear-gradient(270deg, #003973, #e5e5be, #a2d5c6, #0eaba9);
    background-size: 100% 100%; 
    z-index: -3;
    transform: translate(50%, 50%); 
    animation: rotateGradient 10s linear infinite; 
    filter: blur(12px); 
  }
  
  .center {
    text-align: center;
    color: rgb(255, 255, 255);
    width: 350px;
    height: 350px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }