.select-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    margin-left: 80px;
    margin-top: 50px;
    width: 80%; 
    max-width: 300px; 
    height: auto; 
    background-color: #333; 
    color: #ddd; 
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    gap: 10px;
  }
  
  .select-account-dropdown, .change-account-button {
    width: 100%;
    padding: 12px 0; 
    border: none;
    border-radius: 40px;
    background-color: #555;
    color: #ccc;
    cursor: pointer;
    text-align: center;
    font-size: clamp(16px, 2vw, 20px);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .select-account-dropdown:hover, .change-account-button:hover {
    background-color: #777;
    color: #fff;
  }
  
  .selected-account-text {
    margin: 0;
    color: #ddd;
    font-size: 20px;
  }

  .navigation-button {
    padding: 15px 30px; 
    background-color: #555; 
    color: #ccc; 
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    margin: 10px; 
    font-size: 28px; 
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navigation-button:hover {
    background-color: #777; 
    color: #fff; 
  }